@model IEnumerable<CVGS.Models.Game>
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Cart";
}

<div class="container">
    <div class="row">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>
<div class="container no-padding">
    <div class="row">
        <div class="col-md-9">
            <h4>Games</h4>
            <hr />

            @using Microsoft.AspNetCore.Http
            @{
                var cartCount = Convert.ToInt32(Context.Session.GetString("cartCount"));
                decimal subtotal = Convert.ToDecimal(Context.Session.GetString("subTotal"));
                decimal tax = Convert.ToDecimal(Context.Session.GetString("tax"));
                decimal total = Convert.ToDecimal(Context.Session.GetString("total"));

                @if (cartCount > 0)
                {
                    @foreach (var item in Model)
                    {
                        <h4> @Html.DisplayFor(modelItem => item.Name)</h4>
                        <div class="row">
                            <div class="col-md-4" style="margin:0">
                                <img src="~/@Html.DisplayFor(modelItem => item.ImgLocation)" alt="@Html.DisplayFor(modelItem => item.ImgLocation)" style="width: 100%; height: auto;">
                            </div>
                            <div class="col-md-6">
                                <dl>
                                    <dt>
                                        @Html.DisplayNameFor(modelItem => item.Category.Category)
                                    </dt>
                                    <dd style="padding-bottom:0.5em;">
                                        @Html.DisplayFor(modelItem => item.Category.Category)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(modelItem => item.Platform)
                                    </dt>
                                    <dd style="padding-bottom:0.5em;">
                                        @Html.DisplayFor(modelItem => item.Platform.Platform)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(modelItem => item.ReleaseDate)
                                    </dt>
                                    <dd style="padding-bottom:0.5em;">
                                        @Html.DisplayFor(modelItem => item.ReleaseDate)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(modelItem => item.Description)
                                    </dt>
                                    <dd style="padding-bottom:0.5em;">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </dd>
                                    <dt>
                                        @Html.DisplayNameFor(modelItem => item.Developer)
                                    </dt>
                                    <dd style="padding-bottom:0.5em;">
                                        @Html.DisplayFor(modelItem => item.Developer)
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-md-1">
                                <h4>@Html.DisplayFor(modelItem => item.Price)</h4>
                            </div>
                            <div class="col-md-1" style="margin-top:0.5em;">
                                <a asp-action="Remove" asp-route-gameId="@item.GameId"> Remove</a>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>You have no items in your cart right now.  Check out our <a asp-controller="Games" asp-action="Index">Games page</a> for great games.</p>
                }
            }
        </div>
        <div class="col-md-3">
            <h4>Bill</h4>
            <hr />
            <p style="font-size: 1.5em;text-align:right;">Subtotal: @String.Format("{0:C}", subtotal)</p>
            <p style="font-size: 1.5em;text-align:right;">HST/GST: @String.Format("{0:C}", tax)</p>
            <p style="font-size: 1.5em;text-align:right;">Total: @String.Format("{0:C}", total)</p>

            @if (cartCount > 0)
            {
                <a asp-action="ProceedToBilling" asp-route-userId="@UserManager.GetUserId(User)" class="btn btn-info" style="width:50%;float:right;margin-top:1em;" id="proceed-to-billing">Proceed to Billing</a>
            }
            else
            {
                <button class="btn btn-default" style="width:50%;float:right;margin-top:1em;" disabled>Pay</button>
            }

        </div>
    </div>
</div>




